<div class="body">
    <div class="okvir">
        <div class="profile-div">
            <div class="profile-image-div" > </div>
            <div class="profile-info-div">
                <label class="lbl-ime">{{rentee.name}}</label>
                <label class="lbl-mail">{{rentee.username}}</label>
                <label class="lbl-mail">{{rentee.email}}</label>
                <label class="lbl-mail">Broj telefona: {{rentee.phoneNumber}}</label>
            </div>
        </div>
        <div class="rentees" *ngIf="allRentees && allRentees.length">
            <label class="labela">Ostali korisnici:</label>
            <div *ngFor="let rentee of allRentees" class="rentee">
                <label class="userLbl"><b>{{rentee.name}}</b>, Username: <b> {{rentee.username}}</b>, Broj: <b>{{rentee.phoneNumber}}</b></label>
                <button type="button" class="small-button btn" (click)="sendFriednRequest(rentee);">Pošalji zahtev za prijateljstvo</button>
            </div>
        <div class="notification"> 
            <div *ngIf='notifications.length' >  
                <div *ngFor="let notif of notifications">
                   {{notif.Message}}
                </div>
              </div>
        </div>
    
    </div>
</div>