<div class="bbody">
    <div class="ookvir">
        <div class="pretraga" >
            <div class="searchDiv">
                <input type="text" class="search form-control" placeholder="Pretrazite oglase po tipu korisnika koje traže"/>
                <!-- <label class="filter-label"> Filtrirano po: {{ inputFilter }}</label> -->
            </div>
            <div class="korisnici" *ngIf='allRenterers && allRenterers.length'>
              <div class="example-card" *ngFor="let r of allRenterers">
                <div>
                  <div class="oglas-content">
                      <div class="oglas-details">
                          <div>Izdavac: {{r.name}}</div>
                          <div>Email: {{r.email}} </div>
                          <div>Kontakt telefon: {{r.phoneNumber}} </div>
                          <div class="oglas-buttons">
                              <button type="button" class="show-Sonies-dugme btn" (click)="btnShowSoniesClicked(r);">Prikaži sonije</button>
                          </div>
                      </div>
                    <div class="oglas-image" ></div>
                  </div>
                </div>
                <div class="sonies" *ngIf= "r.username===rentererUsername" >
                  <div class="header" *ngIf="rentererSonies && rentererSonies.length">
                      <span class="btncancel" (click)="closeSignedUsers();">&times;</span>
                  </div>
                  <div *ngFor="let sony of rentererSonies" class="sony">
                      <label class="userLbl"><b>{{sony.type}}</b>, Serijski broj: <b> {{sony.serialNumber}}</b>, Cena: <b>{{sony.price}}</b></label>
                      <button type="button" class="btn" (click)="btnShowGamesClicked(r, sony);">Igrice</button>
                      <button type="button" class="btn" >Naruči</button>
                  </div>
                </div>
              </div>
           </div>    
        </div> 
    </div>
</div>