<div class="bbody">
    <div class="ookvir">
        <div class="pretraga" >
            <div class="sonys">
                <div class="example-card">
                  <div>
                    <div class="oglas-content">
                        <div class="oglas-details">
                            <div>Serijski broj: <input type="text" name="serial-number" [(ngModel)]="newSony.serialNumber"></div>
                            <div>Notes: <input type="text" name="notes" [(ngModel)]="newSony.notes"> </div>
                            <div>Tip:  <input type="text" name="type" [(ngModel)]="newSony.type"></div>
                            <div>Cena: <input type="number" name="cena" [(ngModel)]="newSony.price"> </div>
                            <div class="oglas-buttons">
                                <button type="button" class="show-games-dugme btn" (click)="createSony();">Kreiraj</button>
                            </div>
                        </div>
                      <div class="oglas-image" ></div>
                    </div>
                  </div>
                </div>
             </div> 
            <div class="sonys" *ngIf='allSonys && allSonys.length'>
              <div class="example-card" *ngFor="let r of allSonys">
                <div>
                  <div class="oglas-content">
                      <div class="oglas-details">
                          <div>Serijski broj: {{r.serialNumber}}</div>
                          <div>Notes: {{r.notes}} </div>
                          <div>Tip: {{r.type}} </div>
                          <div>Cena: {{r.price}} </div>
                          <div class="oglas-buttons">
                              <button type="button" class="show-games-dugme btn" (click)="btnShowGamesClicked(r);">Prikaži igrice</button>
                              <button type="button" class="show-games-dugme btn" (click)="btnShowAddGame(r);">Dodaj igricu</button>
                              <button type="button" class="show-games-dugme btn" (click)="btnIzmeniSony(r);">Izmeni</button>
                              <button type="button" class="show-games-dugme btn" (click)="btnObrisiSony(r);">Obrisi</button>
                          </div>
                      </div>
                    <div class="oglas-image" ></div>
                  </div>
                </div>
                <div class="games" *ngIf= "r.serialNumber===sonySerial" >
                  <div class="header" *ngIf="allSonyGames && allSonyGames.length">
                      <span class="btncancel" (click)="closeSignedUsers();">&times;</span>
                  </div>
                  <div *ngFor="let game of allSonyGames" class="sony">
                      <label class="userLbl"><b>{{game.name}}</b>, Godina: <b> {{game.yearOfProduction}}</b>, Igraca: <b>{{game.players}}</b></label>
                      <button type="button" class="btn" (click)="btnDeleteGame(game);">Obrisi</button>
                      <button type="button" class="btn" (click)="btnUpdateGame(game);">Izmeni</button>
                  </div>
                </div>
              </div>
           </div>    
        </div> 
    </div>
  </div>

  <app-add-game-modal *ngIf="displayAddGameModal" [sonyAddGame]="sonyAddGame" (cancelClicked)='hideAddGameModal()'></app-add-game-modal>
  <app-update-game-modal *ngIf="displayUpdateGameModal" [updateGame]="updateGame" (cancelClicked)='hideUpdateGameModal()'></app-update-game-modal>
  <app-update-sony-modal *ngIf="displayUpdateSony" [updateSony]="updateSony" (cancelClicked)='hideUpdateSonyModal()'></app-update-sony-modal>