<div class="bbody">
    <div class="ookvir">
        <div class="pretraga" >
            <div class="sonys" *ngIf='allSonys && allSonys.length'>
              <div class="example-card" *ngFor="let r of allSonys">
                <div>
                  <div class="oglas-content">
                      <div class="oglas-details">
                          <div>Serijski broj: {{r.serialNumber}}</div>
                          <div>Notes: {{r.notes}} </div>
                          <div>Tip: {{r.type}} </div>
                          <div>Cena: {{r.price}} </div>
                          <div class="oglas-buttons">
                              <button type="button" class="show-games-dugme btn" (click)="btnShowGamesClicked(r);">Prikaži igrice</button>
                              <button type="button" class="show-games-dugme btn" (click)="btnShowAddGame(r);">Dodaj igricu</button>
                          </div>
                      </div>
                    <div class="oglas-image" ></div>
                  </div>
                </div>
                <div class="games" *ngIf= "r.serialNumber===sonySerial" >
                  <div class="header" *ngIf="allSonyGames && allSonyGames.length">
                      <span class="btncancel" (click)="closeSignedUsers();">&times;</span>
                  </div>
                  <div *ngFor="let game of allSonyGames" class="sony">
                      <label class="userLbl"><b>{{game.name}}</b>, Godina: <b> {{game.yearOfProduction}}</b>, Igraca: <b>{{game.players}}</b></label>
                      <!-- <button type="button" class="btn" (click)="btnShowSoniesClicked(r);">Igrice</button>
                      <button type="button" class="btn" (click)="btnShowSoniesClicked(r);">Naruči</button> -->
                  </div>
                </div>
              </div>
           </div>    
        </div> 
    </div>
  </div>

  <app-add-game-modal *ngIf="displayAddGameModal" [sonyAddGame]="sonyAddGame" (cancelClicked)='hideAddGameModal()'></app-add-game-modal>

<!-- <div class="sony-page-container">
    <div class="create-sony-container">
        <div class="create-sony-title">
            Dodaj sony
        </div>
        <div class="create-sony-item">
            <div>
                Serial number:
            </div>
            <div>
                <input type="text" name="serial-number" id="sony-serial-number">
            </div> 
        </div>
        <div class="create-sony-item">
            <div>
                Tip:
            </div>
            <div>
                <input type="text" name="type" id="sony-type">
            </div> 
        </div>
        <div class="create-sony-item">
            <div>
                Notes:
            </div>
            <div>
                <input type="text" name="notes" id="sony-notes">
            </div> 
        </div>
        <div class="create-sony-item">
            <div>
                Cena:
            </div>
            <div>
                <input type="number" name="price" id="sony-price">
            </div> 
        </div>
        <div class="create-sony-item">
            <button (click)="createSony();">Kreiraj</button>
        </div>
    </div> -->