<div class='modalBackground'>
    <div class='modal'>
        <div class="modal-header">
            <span (click)="cancelModal()" class="cancel">&times;</span>
        </div>
        <div class="log-modal-main">
            <form>
                <label class="label">Unesite podatke o rezervaciji</label>
                <div class="form-group">
                    <label>Unesite početno vreme rezervacije:</label>
                    <input name="job-name" class="form-control" type="text" [(ngModel)]="newRenterersList.startTime" required>
                </div>

                <div class="form-group">
                    <label>Unesite trajanje rezervacije:</label>
                    <textarea name="job-description" class="form-control" type="text" rows="5" [(ngModel)]="newRenterersList.period" required></textarea>
                </div>
                <div class="form-group">
                    <label>Unesite adresu za dostavljanje sonija:</label>
                    <input name="job-count" class="form-control" type="number" [(ngModel)]="newRenterersList.address" required>
                </div>
                <div class="form-group">
                    <label>Unesite broj džojstika koji želite da naručite:</label>
                    <textarea name="job-description" class="form-control" type="number" [(ngModel)]="newRenterersList.joystick" required></textarea>
                </div>
                <div class="form-group">
                    <label>Dodatne napomene:</label>
                    <input name="job-count" class="form-control" type="text" [(ngModel)]="newRenterersList.notes" required>
                </div>
                <button class="btn btn-primary" type="button" (click)="handleClick()">Sačuvaj</button>
            </form>
        </div>
    </div>
</div> 